.footer {
  position: relative;
  height: 630px;
  iframe {
    width: 100%;
    height: inherit;
    border:none;
  }
  &__info {
    position:absolute;
    top:0;
    left: calc(50% - 230px);
    width: 460px;
    height: 270px;
    background-color: $main-color;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: $white;
  }
  &__adress  {
    display: block;
    margin: 0 auto;
    padding-top: 50px;
  }
  &__phone {
    display: block;
    margin: 0 auto;
    padding-top: 36px;
    padding-bottom: 38px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: $white;
    &:hover {
      color: $white;
    }
  }
  &__social-item {
    margin-right: 30px;
    &:nth-child(3){
      margin-right: 0;
    }
    img{
      width: 50px;
      height: 50px;
    }
  }


}