.title {
  display: block;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 65px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: normal;
  text-align: center;
  color: #0d0d0d;
  text-transform: uppercase;
  &__consulting {
  color:$main-color;
  }
}